.page-container{
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0px; 
    padding: 5px 10px;
    overflow-x: hidden;
}

.bars-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: 375px;
    grid-gap: 5px;
}

.bar{
    display: inline;
}

@mixin text-shadow($color){
    text-shadow: 2px 2px 2px $color;
}

.statBox{
    position: relative;
    color: orangered;
    margin: 0 10px;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    font-family: monospace;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    @include text-shadow(rgba(0,0,0,0.2));
    box-shadow: 3px 3px 3px var(--br-color),
                -3px -3px 3px var(--tl-color);
}

.statBox::before{
    content: attr(title);
    position: absolute;
    top: -25px;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.errorMsg{
    font-size: 0.85rem;
    color: red;
}

.btn{
    @include text-shadow(rgba(0,0,0,0.2));
    cursor: pointer;
    position: relative;
    color: grey;
    margin: 0 10px;
    padding: 10px;
    font-size: 2rem;
    font-family: monospace;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--br-color),
                -3px -3px 3px var(--tl-color);
}

.btn_on{
    --on: lime;
    position: absolute;
    top: 5px;
    right: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--on);
    box-shadow: 3px 3px 3px var(--br-color),
                -3px -3px 3px var(--tl-color);
}

.btn_off{
    --off: red;
    position: absolute;
    top: 5px;
    right: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--off);
    box-shadow: 3px 3px 3px 3px var(--br-color),
                -3px -3px 3px 3px var(--tl-color);
}



.btn-click{
    box-shadow: inset 3px 3px 3px var(--br-color),
                inset -3px -3px 3px var(--tl-color);
}

.inpt{
    font-size: 0.9rem;
    font-family: monospace;
    padding: 10px;
    margin: 0 5px;
    font-size: 2rem;
    color: grey;
    @include text-shadow(rgba(0,0,0,0.2));
    background-color: var(--bg-color);
    box-shadow: inset 3px 3px 3px var(--br-color),
                inset -3px -3px 3px var(--tl-color);
}

.inptBox{
    width:50px;
    margin-left: 15px;
    font-size: 2rem;
    font-family: monospace;
    color: orangered;
    outline: none;
    @include text-shadow(rgba(0,0,0,0.2));
    border:0;
    background-color: var(--bg-color);

}

.legend-container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.legend{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 20px;
}

.legend-icon-text{
    font-size: 1rem;
    color: grey;
    font-family: monospace;
    margin: 2px 8px;
    @include text-shadow(rgba(0,0,0,0.2));
}

.legend-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    box-shadow: 2px 2px 3px 3px var(--br-color),
                -2px -2px 3px 3px var(--tl-color);
}

.legend-icon-magenta{
    background-image: var(--magenta);
}

.legend-icon-blue{
    background-image: var(--blue);
}

.legend-icon-green{
    background-image: var(--green);
}

.legend-icon-orange{
    background-image: var(--orange);
}

.speed-container,
.sortType-container{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7px;
    margin: 3px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px var(--br-color),
                -2px -2px 3px 3px var(--tl-color);
}

.round-button{
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 5px;
    z-index: 1;
    box-shadow: 2px 2px 3px 3px var(--br-color),
                -2px -2px 3px 3px var(--tl-color);
}

@mixin arrow(){
    width: 20px;
    height:20px;
    border: 10px grey solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    
}

.left-arrow{
    @include arrow();
    position: absolute;
    z-index: 1;
    left: -3px;
    top: 4px;
    border-right-color: grey;
    transition: border-right-color ease-in 250ms;
}

.left-arrow:hover{
    border-right-color: lime;
}

.right-arrow{
    @include arrow();
    position: absolute;
    z-index: 1;
    right: -3px;
    top: 4px;
    border-left-color: grey;
    transition: border-left-color ease-in 250ms;
}

.right-arrow:hover{
    border-left-color: lime;
}

.sortType{
    @include text-shadow(rgba(0,0,0,0.2));
    font-size: 2rem;
    width: 100px;
    text-align: center;
    color: grey;
    font-family: monospace;
    margin: 0px 10px;
    text-transform: uppercase;
}

.speedType{
    @include text-shadow(rgba(0,0,0,0.2));
    font-size: 2rem;
    width: 80px;
    text-align: center;
    color: grey;
    font-family: monospace;
    margin: 0px 10px;
    text-transform: uppercase;
}

.switch-container{
    border: 0px grey solid;
    border-radius: 25px;
    width: 70px;
    position: relative;
    top:15px;
    right:5px;
    padding: 3px 5px;
    margin:0px 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    grid-template-columns: 10px 1fr 1fr 10px;
    grid-template-rows: 1fr;
    background-color: var(--bg-color);
    box-shadow: inset 2px 2px 2px var(--br-color), 
                inset 2px -2px 2px var(--tl-color);
}

.switch-container:before{
    content: 'Light';
    font-size: 0.5rem;
    position: absolute;
    color: grey;
    top:-15px;
    left:0;
}

.switch-container:after{
    content: 'Dark';
    font-size: 0.5rem;
    color: grey;
    position: absolute;
    top:-15px;
    right:0;
}

.switch{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-image: var(--orange);
    box-shadow: 3px 3px 3px var(--br-color), 
                -3px -3px 3px var(--tl-color);
}